#container {
  padding-top: 20px;
}


.scrollMode{
  position: relative;
  transform: translate(-50px);
  transition: 2s all ease;
  opacity: 0;
  /* animation-name: scroller; */
}
/* @keyframes scroller {
  
} */
.scrollMode.show{
  transform: translateY(0px);
  opacity: 1;
}

