#opening {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 30px solid transparent;
}
#opening span {
  font-size: 3rem;
  color: rgb(143, 135, 125);
}

#opening span + span {
  display: block;
  font-size: 5rem;
  transition: 2s all ease;
}

#profile {
  min-height: 80vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 40px solid transparent;
}

#profilePic {
  margin-right: 40px;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 1px 2px 12px 1px rgb(232, 214, 214);
  border: 10px solid white;
}

#profilePic img {
  max-height: 450px;
  max-width: 450px;
  border-radius: 10px;
}
#profileText {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 10%;
  transition: 2s all ease-in;
  border: 20px solid transparent;
  margin: 10px;
}

#profileText h1 {
  font-size: 4rem;
}

#profileText > span {
  font-size: 2.3rem;
  color: rgb(143, 135, 125);
  font-style: italic;
}

#nameTitle {
  color: #1f2a8b;
}

#nameTitle + span {
  color: royalblue;
}

@media all and (min-width: 300px) and (max-width: 700px) {
  #profileText h1 {
    font-size: 2.6rem;
  }
  #profile {
    min-height: 60vh;
  }
  #profileText h1 {
    font-size: 2.5rem;
  }
  #profilePic img {
    max-height: 250px;
    max-width: 250px;
    border-radius: 10px;
  }
  #profileText > span {
    font-size: 1.3rem;
  }
}

