/* soft skil   */
#softskill {
    width: 60%;
    margin: auto;
    border: 20px solid transparent;
  }
  #softskillChild {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .softskill {
    text-align: center;
    max-height: 50px;
    font-size: 1.2rem;
    background-color: rgb(49, 136, 250);
    color: white;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    letter-spacing: 1px;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    align-items: center;
    border: 10px solid transparent;
    border-radius: 20px;
  }